target
out/
.idea
*.iml
src/test
src/main/resources/application.properties
src/main/resources/log4j2.properties
src/main/resources/logback_pre.xml
src/main/resources/static/img
src/main/resources/META-INF
src/main/java/dev/kofe/controller/AdminController.java
src/main/java/dev/kofe/controller/ManagerController.java
src/main/resources/templates/admin.html
src/main/resources/templates/ask_registration.html
src/main/resources/templates/collision_question.html
src/main/resources/templates/index_pre.html
src/main/resources/templates/footer2.html
src/main/resources/templates/empty.html
src/main/resources/templates/manager.html
src/main/resources/templates/test.html
src/main/resources/templates/test2.html
src/main/resources/templates/edit_delivery.html
src/main/resources/templates/edit_item.html
src/main/resources/templates/registration.html
src/main/java/dev/kofe/model/ConfirmationToken.java
src/main/java/dev/kofe/service/impl/ConfirmationTokenServiceImpl.java
src/main/java/dev/kofe/service/ConfirmationTokenService.java
src/main/java/dev/kofe/config/SecurityConfig.java


